.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard__card {
  background-color: var(--color-white);
  border-left: 8px solid var(--color-success);
  padding: 24px;
  border-radius: var(--top-radius);
  box-shadow: var(--shadow-card);
}

.dashboard__title {
  font-size: 1.6rem;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.dashboard__text {
  color: var(--color-gray-dark);
  line-height: 1.5;
}